.header {
    background-color: indianred;
    color: white;
    text-decoration: none;
    min-width: 1024px;
    max-width: 1920px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.headerLogo{
    margin-left: 40px;

}
.headerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerMenuButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Sen;
    font-size: 30px;
    color: white;
    text-decoration: none;
    padding: 50px;
    margin-left: 50px;
}

.headerMenuButton :hover {
    background-color: black;
    border-radius: 4px;
}
/*.headerMenu: nth-of-type(2) {flex: 2;}*/

.headerMenuCart{
    background-color: black;
    margin-right: 40px;
}

.headerMenuCartIcon{}

.headerMenuCartQuantity{}

.headerMenuCartDropdown {
    display: none;
    position: absolute;
}

.headerMenuCart:hover .headerMenuCartDropdown {
    display: block;
}

