.header {
    background-color: indianred;
    color: white;
    text-decoration: none;
    min-width: 1024px;
    max-width: 1920px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.headerLogo{
    margin-left: 40px;

}
.headerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerMenuButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Sen;
    font-size: 30px;
    color: white;
    text-decoration: none;
    padding: 50px;
    margin-left: 50px;
}

.headerMenuButton :hover {
    background-color: black;
    border-radius: 4px;
}

.headerCart{
    background-color: black;
    margin-right: 40px;
}

.headerCartIcon{}

.headerCartQuantity{}

.headerCartDropdownList {
    display: none;
    position: absolute;
    font-size: 30px;
}

.headerCart:hover .headerCartDropdownList {
    display: flex;
    flex-direction: column;
    background-color: white;
}

